<div class="blockContainer outer">
    <div class="title">Monitor state</div>
    <div class="stateContainer">
        <div class="mainImage">
            <div [class]="{imageContainer: true, noImage: !imageAvailable}">
                <img class="mainImage" [src]="imageSrc"/>
            </div>
        </div>    
        <div class="metadata">
            <table class="dataTable">
                <tr>
                    <td>Tracking state</td>
                    <td>{{trackingState}}</td>
                </tr>
                <tr>
                    <td>Detection enabled</td>
                    <td>{{detectionEnabled}}</td>
                </tr>
                <tr>
                    <td>Frame rate</td>
                    <td>{{frameRate}}</td>
                </tr>
                <tr>
                    <td>Avg contours</td>
                    <td>{{avgContours}}</td>
                </tr>
            </table>    
        </div>    
    </div>
    <div class="logsContainer">
        <div class="title">Logs</div>  
        <div class="logs" #logDiv>{{logs}}</div>      
    </div>
</div>
