<div class="blockContainer outer">
    <div class="stateContainer">
        <div class="mainImage">
            <div class="title">Camera</div>
            <div [class]="{imageContainer: true, noImage: !imageAvailable}">
                <img class="mainImage" [src]="imageSrc" />
            </div>
        </div>
        <div class="metadata">
            <div class="title">State</div>
            <table class="dataTable">
                <tr>
                    <td>Tracking state</td>
                    <td>{{trackingState}}</td>
                </tr>
                <tr>
                    <td>Detection enabled</td>
                    <td>{{detectionEnabled}}</td>
                </tr>
                <tr>
                    <td>Frame rate</td>
                    <td>{{frameRate}}</td>
                </tr>
                <tr>
                    <td>Avg contours</td>
                    <td>{{avgContours}}</td>
                </tr>
                <tr>
                    <td>Light level</td>
                    <td>{{lightLevel}}</td>
                </tr>
                <tr>
                    <td>Exposure time</td>
                    <td>{{exposureTime}}</td>
                </tr>
                <tr>
                    <td>Analogue gain</td>
                    <td>{{analogueGain}}</td>
                </tr>
                <tr>
                    <td>CPUs</td>
                    <td>{{cpus}}</td>
                </tr>
            </table>
            <div style="margin-top: 1rem">
                <button [disabled]="isRunning() || !isConnected()" (click)="startMonitoring()" mat-mini-fab
                    color="primary" aria-label="Prev tracking data">
                    <mat-icon>play_arrow</mat-icon>
                </button>
                <button style="margin-left: 0.5rem" [disabled]="!isRunning()" (click)="stopMonitoring()" mat-mini-fab
                    color="primary" aria-label="Prev tracking data">
                    <mat-icon>pause</mat-icon>
                </button>
                <span style="float: right">
                    <button [disabled]="!isConnected()" mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More actions">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #moreMenu="matMenu" xPosition="before">
                        <button mat-menu-item (click)="reboot()">
                            <mat-icon>refresh</mat-icon>
                            <span>Reboot</span>
                        </button>
                        <button mat-menu-item (click)="shutdown()">
                            <mat-icon>power_settings_new</mat-icon>
                            <span>Shutdown</span>
                        </button>
                    </mat-menu>
                </span>
            </div>
            <div style="margin-top: 0.5rem">
                <label>
                    Enable detection
                    <input type="checkbox" [disabled]="!isRunning()" [ngModel]="isDetecting"
                        (change)="toggleDetection()" />
                </label>

            </div>
        </div>
    </div>
    <div class="logsContainer">
        <div class="title">Logs</div>
        <div class="logs" #logDiv>{{log}}</div>
    </div>
</div>