<div class="blockContainer outer">
    <div class="title">Camera</div>
    <div class="stateContainer">        
        <div class="mainImage">
            <div [class]="{imageContainer: true, noImage: !imageAvailable}">
                <img class="mainImage" [src]="imageSrc"/>
            </div>
        </div>    
        <div class="metadata">
            <div class="title">State</div>
            <table class="dataTable">
                <tr>
                    <td>Tracking state</td>
                    <td>{{trackingState}}</td>
                </tr>
                <tr>
                    <td>Detection enabled</td>
                    <td>{{detectionEnabled}}</td>
                </tr>
                <tr>
                    <td>Frame rate</td>
                    <td>{{frameRate}}</td>
                </tr>
                <tr>
                    <td>Avg contours</td>
                    <td>{{avgContours}}</td>
                </tr>
                <tr>
                    <td>Light level</td>
                    <td>{{lightLevel}}</td>
                </tr>
            </table>
            <div style="margin-top: 1rem">
                <button [disabled]="isRunning()" (click)="startMonitoring()" mat-mini-fab color="primary" aria-label="Prev tracking data">
                    <mat-icon>play_arrow</mat-icon>
                </button>
                <button style="margin-left: 0.5rem" [disabled]="!isRunning()" (click)="stopMonitoring()" mat-mini-fab color="primary" aria-label="Prev tracking data">
                    <mat-icon>pause</mat-icon>
                </button>                
            </div>
            <div style="margin-top: 0.5rem">
                <label>
                    Enable detection
                    <input type="checkbox" [ngModel]="isDetecting" (change)="toggleDetection()"/>
                </label>
            </div>
        </div>    
    </div>
    <div class="logsContainer">
        <div class="title">Logs</div>  
        <div class="logs" #logDiv>{{logs}}</div>      
    </div>
</div>
