div.outer {
    margin-top: 1rem;
    max-width: 800px;
}

div.chartData {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.demo-chart {
    height: 600px;
    padding-top: 1rem;
}