<div class="main-header">
    <span style="float: right">
        <!-- about -->
        <button mat-icon-button aria-label="About" style="margin-right: 20px" title="about" (click)="showAboutDialog()">
            <mat-icon>info_outline</mat-icon>
        </button>
    </span>
    <!-- main menu -->
    <div class="title">{{title}}</div>
    <div class="monitorSelect">
        <label style="margin-right: 0.5rem">Monitor</label>
        <select class="monitorSelect" (change)="selectedMonitorChanged($event)">
            <option *ngFor="let mi of monitorService.monitorInfo" [value]="mi.name" [selected]="mi.name===this.monitorService.selectedMonitorName" >
            {{mi.name}}
            </option>
        </select>
    </div>
    <span *ngIf="mode!='Production'" class="mode">! {{mode}} !</span>
</div>
