div.mainHeader {
    height: 50px;
    padding-left: 1rem;
    background-color: var(--primary-colour);
    color: white;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 150px 490px auto auto;
}

div.itemRight {
    justify-self:end;
}

div.title {
    display: inline-block; 
    font-weight: bold;
}
  
div.mode {
      font-size: 20pt;
      font-weight: bold;
      color:red;
}

div.monitorSelect {
    color: white;
    background: transparent;  
    display: inline-block;
}

select.monitorSelect {
    padding: 5px;
}
  